@import '/css/font-awesome.css';

* {
	margin: 0;
	padding: 0;
}

html, body {
	font-family: 'Roboto', 'Arial';
	height: 100%;
	position: relative;
}

h1, h2, h3, h4, h5, a, span, p, blockquote, input, label {
	font-weight: 100;
	color: #444;
	line-height: 1.5em;
}

input {
	-webkit-appearance: none;
}

.section-header {
	font-size: 36px;
	text-align: center;
	margin: 0 20px 40px 20px;
	color: #666;
}

@media screen and (max-width: 600px) {
	.section-header {
		font-size: 28px;
	}
}

.dark-section {
	background: #555;
}

.dark-section *:not(.input-field):not(.input-text) {
	color: #fff;
}

a {
	text-decoration: none;
}

.input-group {
	margin-bottom: 10px;
}

.input-label {
	display: block;
	font-size: 20px;
	margin-bottom: 5px;
}

.input-field, .input-text {
	display: block;
	box-sizing: border-box;
	width: 100%;
	border: none;
	padding: 6px 10px;
	font-size: 17px;
	outline: none;
	border-radius: 3px;
	font-weight: 200;
	color: #222;
}

.input-field::-webkit-input-placeholder, 
.input-text::-webkit-input-placeholder {
   color: #aaa;
}

.input-text {
	height: 100px;
}

.form-submit {
	background: #31c4c6;
	border: none;
	border-radius: 3px;
	padding: 10px 40px;
	font-size: 15px;
	font-weight: 300;
	cursor: pointer;
}

.form-submit:hover {
	background: #35babb;
}

.header {
	position: fixed;
	background: rgba(30, 30, 30, 0.9);
	width: 100%;
	height: 50px;
	z-index: 1;
	display: flex;
}

.logo-wrap {
	flex-grow: 1;
}

.logo-link {
	color: #31c4c6;
	font-size: 17px;
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
	display: inline-block;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	transition: 0.2s background-color;
	cursor: default;
}

.logo-link:not(.active):hover {
	background: rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

.nav {
	padding-right: 10px;
	display: flex;
}

.nav a, .nav-link {
	color: #fff;
	height: 50px;
	line-height: 50px;
	margin: 0 12px;
	display: inline-block;
	font-size: 15px;
	border-bottom: solid 3px transparent;
	box-sizing: border-box;
	transition: 0.3s border-color, 0.2s color;
}

.nav a:hover {
	border-bottom-color: #fff;
}

.nav a.active {
	color: #31c4c6;
	border-bottom-color: #31c4c6;
}

.nav-link {
	font-size: 20px;
	display: none;
}

.nav-link:hover {
	border-bottom-color: transparent;
	color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 600px) {
	.nav-link {
		display: inline-block;
	}
	.nav {
		position: absolute;
		left: 0;
		width: 100%;
		top: 50px;
		display: none;
	}
	.nav a {
		display: block;
		padding-left: 30px;
		margin: 0;
		height: 40px;
		line-height: 40px;
		background: rgba(30, 30, 30, 0.9);
		font-size: 15px;
		border-left: solid 5px transparent;
		border-bottom: none;
	}
	.nav a:last-child:after {
		content: '';
		display: block;
		background: rgba(30, 30, 30, 0.9);
		height: 10px;
		margin-left: -35px;
	}
	.nav a.active, .nav a:hover {
		border-bottom-color: transparent;
		color: #fff;
		border-left-color: #31c4c6
	}
	.nav a:not(.active):hover {
		border-left-color: #fff;
	}
}

.main-section {
	position: relative;
	height: 100%;
	width: 100%;
	background: url('/images/penny.jpg') no-repeat top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.main-section:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		transparent,
		rgba(0,0,0,0.5)
	);
}

.jumbo-text {
	font-size: 80px;
	color: #fff;
	margin-bottom: 20px;
	margin-top: 100px;
	padding: 20px;
	position: relative;
}

@media screen and (max-width: 750px) {
	.jumbo-text {
		font-size: 50px;
	}
}

@media screen and (max-height: 400px) {
	.jumbo-text {
		margin-bottom: 0;
	}
}

.jumbo-sub-text {
	font-size: 28px;
	font-weight: 300;
	color: #31c4c6;
	padding: 20px;
	position: relative;
}

@media screen and (max-width: 750px) {
	.jumbo-sub-text {
		font-size: 24px;
	}
}

.quote-section {
	padding: 50px 20px;
	display: flex;
	justify-content: center;
}

.quote-text {
	font-size: 36px;
	font-weight: 300;
	text-align: center;
	margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
	.quote-text {
		font-size: 28px;
	}
}

.quote-person {
	display: block;
	text-align: right;
	font-size: 15px;
	color: #999;
}

.profile-section {
	padding: 0 20px 50px 20px;
	max-width: 800px;
	margin: 0 auto;
	display: flex;
}

@media screen and (max-width: 600px) {
	.profile-section {
		flex-direction: column;
		align-items: center;
	}
}

.profile-pic {
	width: 239px;
	height: 336px;
	max-width: 100%;
	min-width: 239px;
}

@media screen and (max-width: 600px) {
	.profile-pic {
		order: 2;
	}
}

.profile-text {
	font-size: 24px;
	flex-grow: 1;
	margin-left: 50px;
}

@media screen and (max-width: 600px) {
	.profile-text {
		font-size: 18px;
		order: 1;
		margin-left: 0;
		margin-bottom: 30px;
		border-top: solid 1px #eee;
		padding-top: 30px;
	}
}

.gallery-section {
	position: relative;
	background: #000;
}

.gallery-video {
	width: 100%;
	height: inherit;
}

.video-controls {
	position: absolute;
	left: 0;
	width: 100%;
	top: 0;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0);
	transition: 0.5s background;
}

.video-controls.ready {
	cursor: pointer;
}

.gallery-section:hover .video-controls {
	background: rgba(0, 0, 0, 0.2);
}

.video-controls i {
	color: rgba(255, 255, 255, 0.7);
	font-size: 60px;
	transition: 0.5s color;
	display: none;
}

.video-controls.ready i {
	display: inherit;
}

@media screen and (max-width: 600px) {
	.video-controls i {
		font-size: 40px;
	}
}

.poster {
	display: block;
	width: 100%;
}

.gallery-section iframe {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: none;
}

.gallery-section:hover .video-controls .play-button {
	color: rgba(255, 255, 255, 0.9);
}

.gallery-section .video-controls i.fa:hover {
	color: rgba(255, 255, 255, 1);
}

.listen-section {
	padding: 50px 10px 100px 10px;
}

@media screen and (max-width: 700px) {
	.listen-section {
		padding: 50px 0 100px 0;
	}
}

.audio-container {
	display: flex;
	flex-wrap: wrap;
	max-width: 1000px;
	margin: 0 auto;
}

.audio-container > * {
	width: 50%;
}

@media screen and (max-width: 700px) {
	.audio-container > * {
		width: 100%;
	}
}

.details-section {
	margin-bottom: 80px;
}

@media screen and (max-width: 600px) {
	.details-section {
		margin-bottom: 0;
	}
}

.details-wrap {
	background: #f6f6f6;
	border-radius: 3px;
	margin: 0 auto;
	max-width: 960px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	align-content: stretch;
}

@media screen and (max-width: 600px) {
	.details-wrap {
		border-radius: 0;
	}
}

.details-container {
	padding: 20px 20px 30px 20px;
	box-sizing: border-box;
	width: 50%;
	position: relative;
	margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
	.details-container {
		width: 100%;
	}
	.details-container:last-child {
		margin-bottom: 60px;
	}
}

.details-container h3 {
	font-weight: 300;
	font-size: 18px;
	margin-bottom: 10px;
}

.details-container p {
	font-size: 17px;
}

.details-container:after {
	content: '';
	border-bottom: solid 2px #31c4c6;
	width: 50px;
	display: inline-block;
	position: absolute;
	left: 20px;
	bottom: 0;
}

.contact-section {
	padding: 50px 20px;
}

.contact-form {
	max-width: 500px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.contact-form .input-group {
	width: 100%;
}

.contact-form .form-submit {
	margin-left: auto;
	margin-top: 10px;
}

.contact-form .form-sent {
	display: none;
	text-align: right;
	width: 100%;
	margin-top: 10px;
}
